@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

.header-red-underline {
  @apply font-bold border-b-8 border-red-700 w-fit pr-4 xs:pr-6;
  @apply text-4xl lg:text-5xl xl:text-6xl;
}

/* xs */
@media (min-width: 480px) {
}

/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
  /* lg */
}
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}
/* 2xl */

@media (min-width: 1536px) {
}

.anchor-hover:hover {
  @apply text-gray-400 duration-300 cursor-pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.anchor-link {
  @apply hover:opacity-80 hover:underline text-red-600 duration-75 ease-in-out;
}
