@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

.header-red-underline {
  @apply font-bold text-6xl border-b-8 border-red-700 w-fit pr-6 xl:text-7xl;
}

/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
}
/* lg */

@media (min-width: 1024px) {
}
/* xl */

@media (min-width: px) {
}
/* 2xl */

@media (min-width: 640px) {
}

.anchor-hover:hover {
  @apply text-gray-400 duration-300 cursor-pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.anchor-link {
  @apply hover:opacity-80 hover:underline text-red-600;
}
